      .caracter {
        display: block;
        font-size: 18px;
        color: #333;
        margin-bottom: 8px;
      }
  
      input[type="email"],
      input[type="password"]{
        width: 95%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
  